RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule (.*)/$ $1 [L,R=301]
Redirect 301 /index.php http://theusim.ru


# Return 404
ErrorDocument 404 http://theusim.ru/404.php
DirectoryIndex index.php
