RewriteEngine On
RewriteBase /
Redirect 301 /index.php http://usim.online
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule (.*) http://usim.online/$1 [L,R=301]
RewriteRule .* index.php [L]

DirectoryIndex index.php
